pymop - Optimization Test Problems
==================================

Installation
==================================
{% include 'source/_installation.rst' %}

Problems
==================================
{% include 'source/_problems.rst' %}

Usage
==================================
{% include 'source/_usage.rst' %}

Contact
==================================
{% include 'source/_contact.rst' %}